@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

:root {
  /* Dark mode */
  --background-dark: #1e1e1e;
  --primary-dark: #242424;
  --footer-dark: rgb(27, 27, 27);

  --brand-primary: #f87171;

  /* Text color */
  --text-white: #fff;
  --text-lgrey: #7e7e7e;
  --text-black: #000;
  --text-brand: #fca5a5;

  /* Types Color */
  --grass: #16a34a;
  --poison: #9333ea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.App {
  background-color: var(--background-dark);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--white-text);
  transition: all 0.3s;
}

a:hover {
  color: var(--text-brand);
}

.grass-type,
.poison-type {
  display: inline-block;
  border-radius: 20rem;
  padding: 0.3rem 1rem;
}

.grass-type {
  background-color: var(--grass);
}

.poison-type {
  background-color: var(--poison);
}
